DOMAIN="hurabe.42.fr"
# DOMAIN="localhost"

# MariaDB設定
MYSQL_ROOT_PASSWORD=Rootpassword!
MYSQL_DATABASE=wordpress
MYSQL_USER=wp_user
MYSQL_PASSWORD=Rootpassword!

# Wordpress設定
WORDPRESS_DB_HOST="mariadb"
WORDPRESS_SITE_TITLE="My WordPress Site"

# 管理者ユーザー
WORDPRESS_ADMIN_USER="sudouser"
WORDPRESS_ADMIN_PASSWORD="Sudopassword!"
WORDPRESS_ADMIN_EMAIL="admin@example.com"

# 編集者ユーザー
WORDPRESS_EDITOR_USER="editor"
WORDPRESS_EDITOR_PASSWORD="editorpassword"
WORDPRESS_EDITOR_EMAIL="editor@example.com"