DOMAIN="hurabe.42.fr"
# DOMAIN="localhost"

# MariaDB設定
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Wordpress設定
WORDPRESS_DB_HOST=
WORDPRESS_SITE_TITLE=

# 管理者ユーザー
WORDPRESS_ADMIN_USER=
WORDPRESS_ADMIN_PASSWORD=
WORDPRESS_ADMIN_EMAIL=

# 編集者ユーザー
WORDPRESS_EDITOR_USER=
WORDPRESS_EDITOR_PASSWORD=
WORDPRESS_EDITOR_EMAIL=